body{
	color:white;
	background: rgb(222,30,222);
	background: url("Asset/overlay_stars.svg"),linear-gradient(156deg,rgba(153,5,153,1) 15%, rgba(41,41,144,1) 100%);
	background-repeat: no-repeat;
	background-size: auto;
	height:100vh;
	text-align:center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing:1px;
  margin-top:5%;
}
strong{
	font-size:8rem;
}
.title {
    font-size: 1.5rem;
    color:#f9b208;
    margin-bottom: 2rem;
}
.message-text{
    margin-bottom:2rem;
	max-width:370px;
}
.btn1{
	font-size:18px;
	color:#fff;
	margin:0 1%;
	width:auto;
	letter-spacing:1px;
	background-color:#393e46;
	padding:8px 12px;
	border-radius:10px;
	border:1px solid black
}

.btn1:hover{
	background-color:transparent;
}

.box-astronaut {
  position: absolute;
  top:15%;
  right:10%;
  animation: move-astronaut 50s infinite linear  alternate;
}
  img {
    width:20vw;
	height:30vh;
    animation: rotate-astronaut 200s  linear infinite alternate;
  }

  @keyframes rotate-astronaut {
    100% {
      -webkit-transform: rotate(-720deg);
      transform: rotate(-720deg);
    }
  }

  @keyframes move-astronaut {
    100% {
      -webkit-transform: translate(-100px, -100px);
      transform: translate(-100px, -100px);
    }
  }

@media screen and (max-width:600px){
	.box-astronaut {
	top:15%;
	right:2%;
	}
	img {
    width:20vw;
	height:25vh;
	}
}


@media screen and (max-width:375px){
	strong{
	font-size:4rem;
	}
	img {
    width:15vw;
	height:16vh;
	}
	.title {
    font-size: 1.2rem;
	}
}